@import "~bootstrap/scss/bootstrap";

div#content {
  padding: 20px;
}

a.new_robot {
  margin: 10px 0;
}

div.progress_bar {
  background-color: var(--bs-green);
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

div.task_log {
  margin: 20px 0;
}

div.log {
  margin-top: 10px;
}

div.timer {
  display: none;
  margin: 10px 0;
  width: 200px;
  border: 2px solid black;
  text-align: center;
}

div.form-group {
  margin-bottom: 25px;
}

div.error-explanation {
  margin: 20px 0;
}

div.devise_form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

a.disabled_link {
  pointer-events: none;
  cursor: default;
}

a.requirement_toggle {
  text-decoration: none;
}

span.requirements {
  display: none;
}
