@import "~bootstrap/scss/bootstrap";

div.dotter {
  background-color: #bca;
  width: 200px;
  text-align: center;
  border: 2px solid green;
  font-size: 14px;
}

div.task_log {
  margin: 20px 0;
}

div.timer {
  display: none;
  margin: 5px 0;
  width: 200px;
  border: 1px solid black;
  text-align: center;
}